
.shopping-table {
    width: 50%;
    border-collapse: collapse;
    margin-right: 50%;
    margin-left:25%;
    margin-bottom: 20px;
    margin-top:50px;
  }
  
  .shopping-table th,
  .shopping-table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #dbb7e1;
  }
  
  .shopping-table th:first-child,
  .shopping-table td:first-child {
    padding-left: 20px;
  }
  
  .shopping-table th:last-child,
  .shopping-table td:last-child {
    padding-right: 20px;
  }
  
  .shopping-table th {
    background-color: #c1a8bd;
  }
  
  .shopping-table tbody tr:hover {
    background-color: #f9f9f9;
  }